/***********  5. 左：固定条   start  ***********/
/* .fixed-box{
	position:fixed;
	right:3px;
	top:0;
	height:100%;
	width:276px
} */
/* .fixed-nav */
.fixed-nav{
	position:fixed;
    height:100%;
    right:3px;
	top:0;
	width:36px;
	background-color:#2d2d2d;
	padding-top:15%;
	z-index:1000;
}
.tabbox{
	width:100%;
	height:250px;
}
.tabbox>div{
	position:relative;
	width:100%;
	height:36px;
	margin-top:10px;
	line-height:36px;
	text-align:center;
	cursor:pointer;
}
.tabbox span{
	color:#fff;
	font-size:24px;
}
.tabbox-cart{
	position:relative;
}
.tabbox .number{
	position:absolute;
	text-align:center;
	font-size:8px;
	width:14px;
	height:14px;
	line-height:14px;
	border-radius:50%;
	background:#F33;
	color:#fff;
	top:-7px;
	right:3px;
}
.tabbox-cart:hover b{
	background:#Fff;
	color:#f33;
}
.fixed-nav .totop{
	position:absolute;
	bottom:0;
	width:36px;
	height:36px;
	color:#fff;
	font-size:14px;
	line-height:36px;
	text-align:center;
	cursor:pointer;
}
.tabbox>div:hover,.fixed-nav .totop:hover{
	background:#EA483E;
}

/* 购物车 */
.success-attention{
	position: absolute;
    top: -20px;
    right: 36px;
    padding: 15px;
    width: 180px;
    background: #fff;
    border: 1px solid #e6e5e4;
	box-shadow: -4px -1px 5px rgba(0,0,0,0.05);
	cursor: default;
}
.success-attention .triangle{
	position:absolute;
    top: 32px;
	right: -10px;
	border:5px solid transparent;
	border-left-color:#fff;
}
.success-attention .icon-close{
	position:absolute;
    top: -3px;
	right: 6px;
	cursor: pointer;
	color:#ccc;
	font-size:10px;
	font-weight:bold;
}
.success-attention .icon-close:hover{
	color:#999;
}
.success-attention .title{
	font-size:14px;
	line-height:20px;
	font-weight:normal;
}
.success-attention .icon-tongguo{
	font-size:20px;
	color:#9BCF4F;
}
.success-attention h3{
	font-size:10px;
	padding-left:36px;
	font-weight:normal;
}
.tabbox p{
	position:absolute;
	right:36px;
	top:0;
	height:36px;
	width:0;
	color:#fff;
	background:#EA483E;
	overflow:hidden;
	transition: all .1s linear;
}
.tabbox>div:hover p{
	width:80px;
}
/***********  5. 左：固定条 end  ***********/