/* 顶部 */
.topbar{
    background:#e6e6e6;
    border:solid #E6e6e6;
    border-width:1px 0;
}
.login>a,.register>a{
    color:#36c;
}
.login>a:hover,.register>a:hover{
    color:#c00;
}

.hd .icon-iconfontshouji{
    color:#B32418;
    font-size:0.75em ;
}
.hd .icon-xiangxiajiantouxiao{
    display:inline-block;
    font-size:0.5em ;
    transition: all .15s linear;
}
.hd:hover{
    background-color:#fff;
    border-bottom-color:#666;
}

.hd:hover{
    color:#666;
    text-decoration: none;
}
.my-center:hover i,.mobile:hover i,.lianxikefu:hover i{
    transform: rotate(180deg);
}
/* 买家中心 */
.my-center,.mobile,.lianxikefu{
    position:relative;
}
.my-center .hd{
    border:solid transparent;
    border-width:1px 1px 0;
}

.my-center-bd{
    display: none;
    position: absolute;
    top: 24px;
    left: -1px;
    padding: 3px 10px;
    width: 120px;
    border: 1px solid #ededed;
    border-top-color:transparent;
    background: #fff;
}
.my-center-bd em{
    color:#c00;
}
.my-center-bd a{
    display: block;
    padding: 5px 10px;
    width: 120px;
    color:#666;
    text-decoration: none;
}
.my-center:hover .hd{
    border-bottom-color:transparent;
    background:#fff;
}
.my-center:hover .my-center-bd{
    display:block;
}
/* .my-center:hover .my-center-bd{
    display:block;
} */
.mobile-bd img{
    position: absolute;
    top: 24px;
    left: -1px;
}