
main{
    
    background:#fff;
}
/***********   详情   start  ***********/
.details{
    margin-bottom:15px;
}
/* 1.1 面包屑导航 */
.crumbs-bar{
    font-size:12px;
    padding:10px 0;
}
.crumbs-nav a {
    color: #333;
}
.crumbs-nav span {
    margin-right: 10px;
}
.crumbs-nav span:last-child {
    color:#999;
}
/* 1.2 内容 */
.product-inner{
    width:100%;
    height:720px;
    border:1px solid #ededed;
}
.product-details{
    width:calc(100% - 200px);
    height:100%;
    padding:10px;
    position:relative;
}
.product-details>div{
    height:100%;
}
.inner-pics{
    width:400px;
}
.inner-bgpic{
    width:400px;
    height:400px;
    position:relative;
}
.img-mask{
    position:absolute;
    width:200px;
    height:200px;
    background:#fff;
    opacity:0.5;
    top:0;
    left:0;
}
.magnifier{
    position:absolute;
    width:400px;
    height:400px;
    top:0;
    left:410px;
    overflow:hidden;
}
.magnifier img{
position: relative;
left: -306px;
top: -202px;
/* display: block;
visibility: visible; */
}
.inner-smpic{
    width:400px;
    height:74px;
}
.smpic-list{
    width:400px;
    height:74px;
    display:flex;
    justify-content: flex-start;
}
.smpic-item{
    margin-right:6px;
    border:2px solid transparent;
    cursor:pointer;
}
.smpic-item.current{
    border-color:#c00;
}
.inner-text{
    width:550px;
    padding:15px 0;
    height:75px;
    line-height:25px
}
.inner-text a{
    margin-right:10px;
}
.inner-text i{
    font-size:12px;
    margin-right:5px;
    color:#EDC9C6;
}
.inner-text a:hover{
    color:#c00;
}
.inner-text a:hover .iconfont{
    color:#c00;
}
/* 文字介绍 */
.shop-details{
    width:200px;
    height:100%;
    border-left:1px solid #ededed;
}
.inner-title h3{
    font-size:16px;
    color:#000;
    font-weight:normal;
}
.inner-title p{
    font-size:14px;
    color:#999;
}
.price-panel {
    margin:5px 0 0 0;
    padding: 5px 10px;
    background: #f7f7f7;
}
.price-panel dl {
    padding: 0 0 0 75px;
    position: relative;
    height:30px;
    line-height: 30px;
}
.sale-activity, .receive-coupons {
    margin: 5px 0;
}
.price-panel dt {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    color: #666;
    text-align: justify;
}
.sale-price .price {
    float: left;
    margin: -2px 0 0;
    height: 32px;
    overflow: hidden;
    font-size: 16px;
    vertical-align: middle;
    color: #c00;
}
.sale-price .price em{
    color:#c00;
    font-size:30px;
    font-weight:bold;
    padding-left:5px;
}
.slae-activity dd{
    position:relative;
}
.price-panel .slae-activity{
    height:50px;
    margin:5px 0;
}
.caption{
    padding:0 3px;
    background:#c40000;
    color:#fff;
}
.slae-activity .gifts{
    position:absolute;
    height:50px;
    line-height:50px;
    left:40px;
    top:0;
}
/* .slae-activity .gifts span{
    margin-left:5px;
} */
.slae-activity .gifts img{
    width:48px;
    border:1px solid #ddd;
}
.slae-activity .gifts em{
    font-size:14px;
    font-weight:bold;
}
.price-panel .receive-coupons dd{
    height:30px;
}
.receive-coupons .coupon{
    display:inline-block;
    height:18px;
    line-height:18px;
    margin:6px 10px 6px 0;;
    background:#f45c54;
}
.receive-coupons .coupon span{
    padding:0 3px;
    color:#fff;
}
.receive-coupons .coupon i{
    display:inline-block;
    width:4px;
    height:18px;
    background:url("../images/product-details/coupon_ico.png") no-repeat 0 -1px;
    vertical-align: middle;
    margin:0;
}

.details-infor{
    padding:5px 10px;
    margin-top:5px;
}
.inner-text dl {
    padding: 0 0 0 75px;
    position: relative;
    height:36px;
    line-height: 30px;
}

.inner-text dt {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    color: #666;
    text-align: justify;
}
.area-selected{
    display:inline-block;
    line-height:23px;
    padding:3px 5px;
    border:1px solid #ededed;
}
.details-infor{
    /* padding-bottom:10px; */
    border-bottom:1px solid #ededed;
}
.details-infor .area-selected.hover{
    background:#c00;
    color:#fff;
}
.details-infor .iconfont{
    display:inline-block;
    color:#666;
}
.details-infor .area-selected.hover .iconfont{
    color:#fff;
    transform:rotate(180deg);
}
.details-infor em{
    font-weight:bold;
}
.dispatching dd{
    position:relative;
}
.details-cities{
    position:absolute;
    top:30px;
    left:1px;
    border:1px solid #bfbfbf;
    width:450px;
    height:310px;
    padding:15px 10px;
}
.province{
    border-bottom:2px solid #c00;
    position:relative;
    z-index:10;
}
.province>i{
    position:absolute;
    right:-8px;
    top:-10px;
    width:24px;
    height:24px;
    border-radius:50%;
    /* border:1px solid #ddd; */
    line-height:24px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#999;
    cursor:pointer;
}
.province>i:hover{
    background:#999;
    color:#fff;
}
.province-tab{
    display:flex;
    justify-content: flex-start;
}
 .province-selected{
    display:inline-block;
    line-height:23px;
    padding:4px 6px 3px;
    border:1px solid #999;
    border-bottom:2px solid #c00;
    position:relative;
    bottom:-2px;
    color:#666;
}
.province-selected.current{
    padding:3px 5px;
    border:2px solid#c00;
    border-bottom-color:#fff;
}
.province .province-selected:hover{
    color:#666;
}
.province .province-selected:hover i{
    color:#666;
}

.area-list-wrap{
    width:100%;
    height:245px;
    /* border:1px solid red; */
}
.area-list-wrap .area-list{
    width:100%;
    height:245px;
    /* border:1px solid red; */
}
.area-list-wrap .area-list li{
    width: 98px;
    float:left;
    height: 30px;
    line-height: 30px;
    color:#134ba0;
    cursor:pointer;
}
.area-list-wrap .area-list li:hover{
    color:#c00;
    text-decoration:underline;
}
.evaluate a{
    color:#333;
    margin:0;
    cursor:pointer;
}
.evaluate a em{
    color:#f33;
}
.evaluate a:hover{
    color:#c00;
    text-decoration:underline;
}
.evaluate a:hover em{
    color:#c00;
}
.evaluate span{
    margin:0 5px;
}
.server-bar .link{
    color:#36c;
}
.details-infor .server-bar{
    height:60px;
}
.server-bar .link:hover{
    color:#c00;
}
.server-list a{
    position:relative;display:inline-block;
    width:82px;
    height:24px;
    line-height:24px;
    padding-left:28px;
    margin-right:20px;
    cursor:pointer;
    color:#333;
}
.server-list a .iconfont{
    position:absolute;
    top:0;
    left:0;
    font-size:22px;
    line-height:24px;
    color:#00ae75;
}
.server-list a:hover{
    color:#333;
}
.server-list a:hover .iconfont{
    color:#00ae75;
}
.server-list a .icon-tianmaowuyoutuihuanhuo{
    transform:rotate(90deg);
}
/* 颜色类别 */
.skins-infor{
    padding-top:10px;
}
.skins-infor li{
    float:left;
    margin: 5px 6px 0 0;
    position: relative;
}
.skins-infor .can-buy{
    white-space: nowrap;
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e6e6e6;
    color: #333;
    background-color: #FFF;
}
.skins-infor .cur .can-buy{
    padding: 0 9px;
    height: 28px;
    line-height: 28px;
    border: 2px solid #c00;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.skins-infor  .can-buy .iconfont{
    display:none;
}
.skins-infor .cur .can-buy .iconfont{
    display:inline-block;
    font-size:22px;
    color: #c00;
    position:absolute;
    bottom:-4px;
    right:-10px;
}
/* 套装详情 */

.suit-infor {
    margin: 5px 0 0;
    padding: 8px 10px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    line-height: 20px;
}
.skins-infor .suit{
    height:94px;
}
/* 购买数量 */
.skins-infor .quantiay{
    margin-top:20px;
    height:40px;
}
.amount-widget{
    vertical-align:middle;
    border: 1px solid #e6e6e6;
    height:30px;
    width:104px;
    line-height:28px;
}
.quantiay .iconfont{
    display:inline-block;
    width:28px;
    height:28px;
    text-align:center;
    line-height:28px;
    background: #fafafa;
    margin:0;
    font-size:16px;
    color:#999;
    font-weight:bold;
}
.quantiay .no-change{
    color:#dddddd;
}
.goods-number{
    width:46px;
    height:28px;
    margin:0;
    outline:0;
    text-align:center;
    border:solid #e6e6e6;
    border-width:0 1px;
    /* margin-bottom:1px; */
}
.part{
    margin-left:10px;
    color:#999;
}
/* 购买按钮 */
.deal-btn{
    padding:30px 0 0 65px;
    height:80px;
}
.buy-now,.store-buy{
    display:inline-block;
    width:140px;
    height:50px;
    line-height:50px;
    text-align:center;
    margin-right:10px;
    font-size:18px;
    border-radius:3px;
}
.buy-now{
    color:#fff;
    background:#c00;
}
.deal-btn .buy-now:hover{
    color:#fff;
    background:#b90000;
}
.store-buy{
    color:#c00;
    border:1px solid #ffd9d9;
    background:#ffeded;
}
.store-buy:hover{
    background:#ffe2e2;
}
/* 店铺详情 */
.store-name{
    width:100%;
    height:75px;
    padding:26px 10px;
    text-align:center;
    font-weight:normal;
    border-bottom:1px solid #e6e6e6;
}
.store-name a{
    color:#134ba0;
    font-size:14px;
}
.store-name a:hover{
    color:#c00;
    text-decoration:underline;
}
/* 在线客服 */
.modbox{
    padding:5px 15px;
    position:relative;
    /* margin:5px 0; */
}
.modbox .modbox-hd{
    height:32px;
    width:100%;
    line-height:32px;
    color:#999;
    
}
.custom-service li{
    height:32px;
    line-height:32px;
}
.custom-service li img{
    width:25px;
    height:25px;
}
/* 客服电话 */
.contact-way{
    position:absolute;
    top:11px;
    left:75px;
}
/* 接待时间 */
/* 店铺30天退款率 */
.refund-rate{
    position:absolute;
    top:11px;
    left:111px;
}
/* 店铺动态评分 */
.store-score li{
    color:#999;
    height:20px;
    line-height:20px;
}
.store-score .flat{
    color:#c00;
}
.store-score em.flat{
    margin-right:10px;
}
/* 进入店铺，关注店铺  -  按钮  */
.collect-box{
    margin-top:30px;
    text-align:center;
}
.collect-box-btn{
    display:inline-block;
    width:75px;
    height:30px;
    border:1px solid #e6e6e6;
    background:#fafafa;
    font-size:14px;
    line-height:28px;
    margin:0 5px;
    color:#666;
}
.collect-box-btn:hover{
    background:#f2f2f2;
    color:#666;
}
/***********   详情   end  ***********/
/***********   店铺热卖   start  ***********/
.sortbox{
    width:100%;
    /* padding-bottom:10px; */
    border:1px solid #ededed;
}
.sortbox-hd{
    height:33px;
    line-height:32px;
    border-bottom:1px solid #ededed;
    background:#fafafa;
    font-size:14px;
    color:#333;
    padding-left:10px;
}
.hot-goods{
    width:100%;
    height:270px;
    padding-left:10px;
}
.hot-goods li{
    float:left;
    width:198px;
    height:270px;
    padding:24px;
}
.hot-goods li img{
    width:150px;
    height:150px;
}
.hot-goods li a{
    color:#333;
}
.hot-goods li a:hover{
    color:#c00;
    text-decoration:underline;
}
.goods-title{
    height: 32px;
    overflow: hidden;
    margin-top:15px;
}
.hot-goods li a{
    color:#333;
}
.goods-price{
    color:#f33;
    height:30px;
    line-height:30px;
    margin-top:5px;
}
.goods-price em{
    font-size:18px;
}
/***********   店铺热卖   end  ***********/
/***********   详情部分   start  ***********/
/* 左边栏 start */
.goods-details{
    margin-top:15px;
}
.left-aside{
    width:200px;
}
.left-aside dl {
    padding: 0 0 0 50px;
    position: relative;
    height:30px;
    line-height: 30px;
}
.left-aside dt {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height:26px;
    line-height:26px;
    color: #666;
    text-align: justify;
}
.left-aside dd{
    position:relative;
}
/* 搜索店内商品 */
.left-aside .goods-search{
    margin-bottom:10px;
}
.searchgoods{
    padding:15px;
}
.searchgoods .text{
    width:116px;
    height:26px;
    padding:3px 5px;
    outline:0;
}
.searchprice .text{
    width:48px;
    height:26px;
    padding:3px 5px;
    outline:0;
}
.searchprice span{
    margin:0 4px;
}
.searchgoods .submit{
    display:inline-block;
    height:26px;
    line-height:26px;
    font-weight:bold;
    color:#000;
    width:60px;
    border:1px solid #d9d9d9;
    text-align:center;
    background:#f7f7f7;
    margin-left:50px;
}
.searchgoods .submit:hover{
    background:#fff;
}
/* 商品分类 start */
/* 查看全部商品 */
.reachgoods{
    padding:15px 0 15px 45px;
}
.reachgoods-hd{
    margin-bottom:5px;
}
.reachgoods p a{
    display:inline-block;
    color:#333; 
}
.reachgoods-hd a{
    width:100%;
    height:26px;
    line-height:26px;
    font-weight:bold;
    font-size:14px;
}
.reachgoods-hd a{
    width:100%;
    height:26px;
    line-height:26px;
    font-weight:bold;
    font-size:14px;
}
.reachgoods-item a{
    margin-right:10px;
}
.reachgoods-item a:hover{
    color:#c00;
    text-decoration:underline;
}
/* 具体分类 start */
.goods-details ul.sortbox{
    border-width:0 1px;
}
.goods-catgroy{
    border-bottom:1px solid #ededed;
}
.catgroy-hd{
    display:block;
    height:33px;
    line-height:32px;
    border-bottom:1px solid #ededed;
    background:#fafafa;
    font-size:14px;
    color:#333;
    padding-left:10px;
    cursor:pointer;
}
.goods-catgroy .catgroy-hd:hover{
    color:#333;
}
.goods-catgroy i{
    float:left;
    width:20px;
    height:20px;
    margin:6px 10px;
    line-height:16px;
    text-align:center;
    background:#f7f7f7;
    color:#ddd;
    font-weight:bold;
    border:2px solid #e6e6e6;
}
.goods-catgroy ul{
    padding:5px 0 5px 45px;
}
.goods-catgroy li{
    background:url("../images/product-details/bg.png") no-repeat -56px -468px;
    padding: 0 0 0 10px;
    line-height: 22px;
}
.sortbox .goods-catgroy ul a:hover{
    color:#c00;
    text-decoration:underline;
}
/* 具体分类 end */
/* 商品分类 end */
/* 看了还看 start */

/* 看了还看 end */
.goods-others{
    margin-top:10px;
}
.others-list{
    width:100%;
    padding:0 14px;
}
.others-list li{
    padding:14px 0;
}
.others-list li+li{
    border-top:1px solid #ededed;
}
.others-list li .price{
    margin:5px 0;
}
.others-list .sale-price{
    color:#c00;
    font-weight:bold;
    margin-right:15px;
}
.others-list .sale-price em{
    margin-left:5px;
}
.others-list .title{
    height:36px;
    line-height:18px;
    overflow:hidden;
}
.others-list .title a{
    color:#333;
}
.others-list .title a:hover{
    color:#c00;
    text-decoration:underline;
}
.others-list .original-price{
    text-decoration:line-through;
}
/* 宝贝排行榜 */
.rankingtab span{
    float:left;
    width:85px;
    height:31px;
    line-height:30px;
    text-align:center;
    border-bottom:1px solid #e6e6e6;
    cursor:pointer;
    color:#333;
    font-size:14px;
}
.rankingtab .cur{
    border-color:#f60;
}
.ranking-list li{
    padding:10px 5px 7px 70px;
    position:relative;
}
.ranking-list .pic{
    position:absolute;
    top:10px;
    left:0;
    border:1px solid #e6e6e6;
}
.ranking-list .title{
    width:100%;
    height:18px;
    line-height:18px;
    overflow:hidden;
}
.ranking-list .title a{
    color:#134ba0;
}
.ranking-list li .price{
    color:#f4214c;
    font-size:14px;
    font-weight:bold;
    margin:2px 0;
}
.ranking-list .sale-number{
    color:#666;
}
.ranking-list .sale-number em{
    color:#c97;
    font-weight:bold;
}
.ranking-list li+li{
    border-top:1px dotted #ededed;
}
/* 左边栏 end */
/* 右 内容 start */
.details-main{
    width:990px;
    /* height:1000px; */
    position:relative;
}
.details-fixed-nav{
    position:fixed;
    width:100%;
    height:38px;
    border-bottom:1px solid #ededed;
    background:#fafafa;
}
.details-fixed-nav .details-main{
    width:990px;
    margin-left:210px;
    height:38px;
}

.tabbar-nav{
    width:990px;
    height:38px;
    /* line-height:px; */
    text-align:center;
    border:1px solid #ededed;
    background:#fafafa;
}
.tabbar-nav li{
    float:left;
    border-right:1px solid #ededed;
}
.tabbar-nav li a{
    display:inline-block;
    height:36px;
    line-height:36px;
    font-size:14px;
    color:#333;
    padding:0 15px;
}
.tabbar-nav li a:hover{
    color:#c00;
}
.tabbar-nav li.cur a{
    border:1px solid #ededed;
    border-top:2px solid #c00;
    margin:-1px -1px 0 -1px;
    height:38px;
    line-height:34px;
    border-bottom:2px solid #fff;
    background:#fff;
}
.tabbar-nav li.cur a:hover{
    color:#333;
}
.tabbar-nav .order-review,.tabbar-nav .order-count{
    color:#c00;
    font-weight:bold;
}
.phone-purchase{
    position:relative;
}
.phone-purchase .icon-erweima{
    color:#333;
}
.tabbar-nav span{
    color:#c00;
}
.tabbar-nav .jiantou{
    display:inline-block;
    /* width:8px; */
    /* height:8px; */
    border:4px solid transparent;
    border-top-color:#c00;
}
.phone-purchase:hover .jiantou{
    margin-bottom:4px;
    transform:rotate(180deg);
}
.phone-purchase div{
    position:absolute;
    top:36px;
    left:-1px;
    width:122px;
    height:122px;
    padding:15px;
    border:1px solid #ededed;
    display:none;
}
.phone-purchase:hover div{
    display:block;
}
.tabbar-nav .buy-btn{
    float:right;
}
.buy-btn .buynow-btn{
    display: block;
    margin: -1px -1px 0 0;
    padding: 0;
    width: 200px;
    height: 38px;
    background: #c00;
    color: #fff;
    font-size: 14px;
    line-height:38px;
    text-align: center;
    cursor:pointer;
}
.buy-btn .buynow-btn:hover{
    background:#b90000;
}
.quick-menu{
    width:200px;
    background:#fafafa;
    padding:0 30px;
    margin-right:1px;
    border:solid #ededed;
    border-width:0 1px;
    position:absolute;
    right:0;
    top:38px;
    height:100vh;
}
.quick-menu a{
    display:block;
    width:100%;
    height:45px;
    line-height:45px;
    font-size:14px;
    padding-left:25px;
    color:#333;
    background:url("../images/product-details/quick-menu.png") no-repeat;
}
.quick-menu li:hover a{
    background-position:0 -45px;
}
.details-container{
    width:790px;
}
.attributes-list{
    margin-top:10px;
}
.attributes-list li{
    height:30x;
    line-height:30px;
    margin-bottom:10px;
    color:#333;
}
.attributes-list li span{
    font-weight:bold;
}
.sevice-title{
    width:790px;
    height:33px;
    background:url("../images/product-details/sevice-title-new.png");
    font-size:20px;
    margin-bottom:10px;
}
.sevice-title .title{
    display:inline-block;
    width:170px;
    height:33px;
    color:#c00;
    line-height:33px;
    text-align:center;
    padding-left:10px;
}
.sevice-title .english-title{
    display:inline-block;
    height:33px;
    color:#fff;
    line-height:33px;
    padding-left:40px;
}
.sevice-content{
    width:790px;
}
.sevice-content p{
    text-align:center;
}
/* 右 内容 end */
/***********   详情部分   end  ***********/
/***********   详情   start  ***********/