ass-cache
__pycache__/
Thumbs.db
*.pyc
*.log
*.class
*.apk
*.pid
.idea
.DS_Store
/web/static/upload

web/doc/aa.txt

web/test.py

web/doc/area_tiaozheng.txt

web/config/dev.py
web/config/test.py

*.idea
*.rdb
server/logs
/server/static/upload
/server/media
/server/static
/server/htmlcov

#front ignore
/.vscode/
/server/templates/node_modules/
/server/wangqian/templates/node_modules/
/.vscode
#/server/templates/package.config.js
logging
json
/server/media/
server/utils/*.pdf
server/*.pdf
server/lib/*.pdf
server/lib/*.jpg
local_settings.py
local.py
server/core.*
server/celerybeat-schedule
.pylintrc
server/.coverage
server/db.sqlite3
server/htmlcov
server/yunpian/local_config.py
server/.coverage
local_config.py
manifest.json
package-lock.json
package.config.js


# Logs
*.log
npm-debug.log*

# celery beat schedule file
celerybeat-schedule

.cache/
.vscode/

server/wangqian/settings/dev.py

server/wangqian/static/bundles/*.json

server/agreement/migrations/dele/

server/message/migrations/dele/

*package.config.js


# Distribution / packaging
.Python
env/
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
fabfile.py


wqreport.log
durlist.log
zjca/out/artifacts/zjca_jar/zjca.jar
zjca/out/production/bouncycastle141.jar
zjca/out/production/commons-cli-1.3.1.jar
zjca/out/production/commons-lang3-3.1.jar
zjca/out/production/dom4j-1.6.1.jar
zjca/out/production/libthrift-0.9.3.jar
zjca/out/production/log4j-1.2.17.jar
zjca/out/production/slf4j-api-1.7.12.jar
zjca/out/production/tianzhuInterfaceClient.jar

apidocs/site