.wrapper { 
    width:1200px; 
    margin:0 auto; 
}
body { 
    font:12px/1.5 "Microsoft YaHei","simhei",Arial,Helvetica,sans-serif;
    background-color: #f7f7f7; 
}
a{
    color:#666;
    text-decoration: none;
}
a:hover{
    color:#c00;
}
em{
    font-style: normal;
}