/***********  1. 保障   start  ***********/
.footer .foot-wrapper{
    border-top:1px solid #D9D9D9;
    margin-top:30px;
}
.footer-service{
    display:flex;
    justify-content: space-between;
    padding:30px 0;
    border-bottom:1px solid #D9D9D9;
}
.footer-service .ser-bg{
    width:200px;
    height:50px;
}
.footer-service .ser-bg a{
    display:block;
    width:200px;
    height:50px;
    font-size:30px;
    color:#4DAA78;
}
.footer-service .ser-bg i{
    float:left;
    font-size:50px;
    color:#4DAA78;
}
.footer-service .top{
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    color: #333;
}
.footer-service .below{
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    color: #666;
}
.ser-bg .icon-tianmaowuyoutuihuanhuo{
    transform: rotate(90deg);
}
/***********  1. 保障   end  ***********/

/***********  2. 具体服务事项   start  ***********/
.footer-service-relate{
    display:flex;
    justify-content: space-between;
    padding:10px 0;
}
.footer-service-relate a{
    color:#666;
}
.footer-service-relate a:hover{
    text-decoration: underline;
}
.footer-service-relate>div{
    padding:20px 0;
}
.footer-service-relate p{
    margin:10px 0;
}
.cooperation,.hotline{
    width:250px;
    
}
.footer-service-relate div.lf{
    height:100%;
}
.cooperation .icon-kefu,.hotline .icon-wodehezuo{
    font-size:40px;
    color:#DBDBDB;
    margin-right:10px;
}
.cooperation a.btn{
    display: inline-block;
    margin: 6px 0 0;
    width: 80px;
    height: 26px;
    font: 12px/26px SimSun;
    color: #fff;
    text-align: center;
    background: #f33;
    border-radius: 2px;
    text-decoration: none;
    transition: all .1s linear;
}
.cooperation a.btn:hover{
    background:#B32518;
}
/***********  2. 具体服务事项   end  ***********/

/***********  3. 页脚   start  ***********/
.footer-nav-bar{
    background:#2d2d2d;
    padding:25px 0;
    position:relative;
}
.footer-nav-bar a{
    margin:0 10px;
}
.footer-nav-bar a:hover{
    text-decoration: underline;
    color: #666;
}
.footer-wrapper{
    position:relative;
}
.footer-nav{
    font: 12px/24px "Microsoft YaHei";
    color: #666;
}
.footer-nav a{
    color:#fff;
}
.footer-nav a:hover{
    color:#fff;
}
.copyright{
    padding-top:20px;
}
.copyright span{
    margin:0 10px;
}
.focus-area{
    position:absolute;
    top:0;
    right:10px;
    display:flex;
    justify-content: space-between;
    color:#fff;
}
.focus-area i.iconfont{
    display:inline-block;
    vertical-align: middle;
    font-size:30px;
}
.focus-area a{
    color:#fff;
    margin-right:30px;
}
.focus-area a:hover{
    color:#fff;
}
.focus-area img{
    vertical-align: top;
}
.ad-btn{
    position:absolute;
    right:50px;
    bottom:20px;
    color:#fff;
    background:#666;
    border-radius:3px;
    padding:0 8px;
}
.footer-nav-bar .ad-btn:hover{
    color:#fff;
    text-decoration: underline;
}
/***********  3. 页脚   end  ***********/