.fixed-nav-bar{
    position: fixed;
    top: 68px;  
    z-index: 1000;
    left:calc(50% - 685px);
    width: 80px;
    /* margin: 0 0 0 -720px; */
    background-color: #908787;
    overflow: hidden;
    display:none;
}

.fixed-nav-bar a{
    position: relative;
    display: block;
    height: 38px;
    border-bottom: 1px solid #a19999;
    font-size: 14px;
    line-height: 38px;
    overflow: hidden;
    color: #fff;
    text-align: center;
}
.fixed-nav-bar a:hover{
    color: #fff;
    background:#D94741;
}
.fixed-nav-bar .back-top{
    background-color: #5d4949;
}
.fixed-nav-bar .trangle{
    display: inline-block;
    border:5px solid transparent;
    border-bottom-color:#fff;
    margin-bottom:3px;
    margin-left:3px;
}