<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.js"></script>
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div id="example">
        <to-do-box></to-do-box>
    </div>
    <script>
        var bus = new Vue();
        Vue.component("to-do-item",{
            props:["item","myIndex"],
            template:`
                <li>
                    <button @click="deleteItem">delete</button>
                    <span>{{item}}</span>
                </li>
            `,
            methods:{
                deleteItem:function(){
                    this.$emit("del",this.myIndex)
                }
            }
        })
        Vue.component("to-do-list",{
            data:function(){return {list:[]}},
            template:`
                <ul>
                    <to-do-item v-for="(tmp,index) in list" :key="index" :item="tmp" myIndex="index" @del="deleteli"></to-do-item>
                </ul>
            `,
            beforeCreate:function(){
                bus.$on("pushList",msg=>{
                    this.list.push(msg)
                })
            },
            methods:{
                deleteli:function(msg){
                    this.list.splice(msg,1)
                }
            }
        })
        Vue.component("to-do-input",{
            data:function(){return {myInput:""}},
            template:`
                <div>
                    <h1>待做事项列表</h1>
                    <p>
                        <input v-model="myInput"/>
                        <button @click="addList">Add</button>
                    </p>
                </div>
            `,
            methods:{
                addList:function(){
                    bus.$emit("pushList",this.myInput)
                    this.myInput=""
                }
            }
        })
        Vue.component("to-do-box",{
            template:`
                <div>
                    <to-do-input></to-do-input>
                    <to-do-list></to-do-list>
                </div>
            `
        })
        new Vue({
            el:"#example",
            data:{
                list:[]
            }
        })
    </script>
</body>
</html>